* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table {
    font-size: 14px;
    margin-bottom: 30px;
}

input[type=number] {
    border: solid 1px rgb(140, 140, 140);
    border-radius: 4px;
    padding: 5px;
    width: 100px;
}

button {
    padding: 5px 0px;
    margin-top: 10px;
}

#board {
    background-color: #c1c1c1;
    border: solid 1px rgb(146, 146, 146);
}

.cell {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px rgb(146, 146, 146);
    cursor: pointer;
    font-size: 14px;
}